.player-cart {
    border: 3px solid ghostwhite;
    border-radius: 10px;
    box-shadow: 12px 10px 8px rgb(228, 224, 224);
}

.player-cart img {
    height: 250px;
    width: 250px;
}

.btn {
    background-color: darksalmon;
    height: 30px;
    width: 100px;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 8px;
}